<a href="https://colab.research.google.com/github/iammiori/19_bigcontest/blob/master/review_json2csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
import time
import datetime
import json,csv

headers = True
filein = "/content/gdrive/My Drive/review.json"
fileout = "/content/gdrive/My Drive/review_final.csv"

with open(filein,encoding="UTF-8") as jsonf, open(fileout,"w") as csvf:
    for line in jsonf:
        data = json.loads(line)
        # 필요없는 key값삭제하면서 나중에 읽어올때, 시간 절약
        data.pop("review_id")
        data.pop("date")
        data.pop("text")
        data.pop("useful")
        data.pop("funny")
        data.pop("cool")
        
        
        if headers:
            keys = []
            for k,v in data.items():
                # key 값은 column 으로 value 는 값으로 저장
                keys.append(k)
            writer = csv.DictWriter(csvf,fieldnames=keys)
            writer.writeheader()
            headers = False
        writer.writerow(data)

print("success")

success

In [0]:
import pandas as pd
df = pd.read_csv("/content/gdrive/My Drive/review_final.csv")
df = df.sort_values(["user_id"],ascending=[True]).reset_index(drop=True)
df.to_csv("/content/gdrive/My Drive/review_final.csv",index=False)

In [7]:
df2 = pd.read_csv("/content/gdrive/My Drive/review_final.csv")
df2.head()

                  user_id             business_id  stars
0  ---1lKK3aKOuomHnwAkAow  Hqs4YNST_ZHbshwyi4bnsQ    5.0
1  ---1lKK3aKOuomHnwAkAow  Vg1C_1eqwIwkZLIXGMTW3g    1.0
2  ---1lKK3aKOuomHnwAkAow  OGQ_6nIn4QQL2U6t0XeHtA    5.0
3  ---1lKK3aKOuomHnwAkAow  WOO81gScY3_VpaIfXFAKpw    4.0
4  ---1lKK3aKOuomHnwAkAow  S599hCA4kJJO3_b6SRFKoA    4.0

In [8]:
df2_sample = df2.sample(n=10000,random_state=777).reset_index(drop=True)
df2_sample.head()

                  user_id             business_id  stars
0  fbXYZk6XoOyFFaHPzHrsTg  mO8ukT3f5BRQ29pC_WoAtg    5.0
1  j-Vh0EUMKUA78BkgajFWCg  uapYTiFh0Y4qGxsAe8OgXg    5.0
2  FVVZQ1NxhEi8SXWc6nFCOQ  xEBor41OFpeeKdcCZ2sfMg    1.0
3  L3zeVVg8WXrjT0g-p-sHQQ  nxCRx5_US4XLxufkF6-Tlw    3.0
4  Bcb27ZpZF5eGsCGITcXZFQ  bPcqucuuClxYrIM8xWoArg    1.0

In [0]:
df_user = pd.read_csv("/content/gdrive/My Drive/user.csv")
df_store = pd.read_csv("/content/gdrive/My Drive/business.csv")

In [0]:
df_user = df_user.sort_values(["user_id"],ascending=[True]).reset_index(drop=True)
df_user.to_csv("/content/gdrive/My Drive/user.csv",index=False)

In [0]:
del df_user['Unnamed: 0']

In [0]:
df_user.head()

                  user_id    name
0  ---1lKK3aKOuomHnwAkAow  Monera
1  ---89pEy_h9PvHwcHNbpyg    Jose
2  ---94vtJ_5o_nikEs6hUjg     Joe
3  ---PLwSf5gKdIoVnyRHgBA     Rae
4  ---cu1hq55BP9DWVXXKHZg     Jeb

In [0]:
len(df_user) #1637138
df_user_sample = df_user.sample(n=500,random_state=777).reset_index(drop=True)
df_user_sample.head()

                  user_id      name
0  SlB-WypbMtXV26VF6WeNxQ      Anna
1  _TFGxqMbqtDGjt2G-xZFVA  Jennifer
2  1iQa9KSj-d1lxrXnESw9YA   Kristie
3  PL0tZx8MmJeh6TlxDbmW8A   Jeffrey
4  Qpl2yRKDlFMYnjmaiztbvQ     Holly

In [0]:
for i in range(len(df2_sample)):
    for j in range(len(df_user_sample)):
        if df2_sample["user_id"].iloc[i] == df_user_sample["user_id"].iloc[j]:
            df2_sample["user_id"].iloc[i]= df_user_sample["name"].iloc[j]
        else:
            df2_sample["user_id"].iloc[i] = ""

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
ui_matrix = df2_sample.set_index(["user_id","business_id"],append=True).unstack()
ui_matrix.head()

                                          stars  ...
business_id              --6MefnULPED_I942VcFNA  ... zyrF7je6qVbaJMPfMG75xg
  user_id                                        ...
0 fbXYZk6XoOyFFaHPzHrsTg                    NaN  ...                    NaN
1 j-Vh0EUMKUA78BkgajFWCg                    NaN  ...                    NaN
2 FVVZQ1NxhEi8SXWc6nFCOQ                    NaN  ...                    NaN
3 L3zeVVg8WXrjT0g-p-sHQQ                    NaN  ...                    NaN
4 Bcb27ZpZF5eGsCGITcXZFQ                    NaN  ...                    NaN

[5 rows x 8298 columns]